* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #f8e9dd;;
  }

  /* Container styles */
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    max-width: 576px;
   
  }

  /* Header section */
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ec755d;
   
    color: #fff;
  }

  .balance {
  color: #ffd2ca;
   letter-spacing: 1px;
    font-size: 14px;
  }

  .balance-amount {
  font-size: 26px;
   font-weight: 600;
   letter-spacing: 1px;
   margin: 0 0 0;
  }

  /* Main body section */
  .main-body {
    padding-top: 20px;
  }
.expenses {
    font-size: 30px;
    color: #382314;
    font-weight: 600;
    letter-spacing: 1px;
}
 
  .chart-container{
    background-color: #fffcf7;
  }

  .bar-chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .bar-container {
    width: 50px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .bar-container p {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
 padding: 5px;

    background-color: #382314;
border-radius: 5px;
    z-index: 1;
    font-size: 16px;
    color: white;

  }

  .bar-container:hover p {
    display: block;
  }

  .bar {

    background-color: #ec755d;
  }
  .bar:hover{
    background-color: #ff9b87;
  }

  .wed {
    background-color: rgb(118, 181, 188);;
  }
.wed:hover{
background-color: #b4dfe5;

}

  .bar-label {
color: #92857a;
    text-align: center;
    font-size: 14px;
  }

  hr {
   
    color: #92857a;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .total {
  font-size: 16px;
  color: #92857a;
  }

  .total-amount {
   font-size: 40px;
   font-weight: 600;
  }

  .percent {
   font-size: 16px;
   font-weight: 600;
  }

  .last-month {
    font-size: 16px;
    color: #92857a;
  }

  /* Responsive styles */
  @media (max-width: 576px) {

    .balance {

     letter-spacing: 1px;
      font-size: 10px;
    }
   
    .balance-amount {
  
      font-size: 18px;
     font-weight: 600;
     letter-spacing: 1px;
     padding: 0 0 0 8px !important;
     margin: 0 0 0 ;
    }
    .expenses {
      font-size: 20px;
      color: #382314;
      font-weight: 600;
   padding: 20px 0 0 20px !important;
 
  }
  

  .bar-container {
    width: 32px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .total-amount {
    font-size: 30px;
    font-weight: 600;
   }
  }


  @media (min-width: 576px) {

    .bar-container {
      width: 50px;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }



  }