* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #f8e9dd;;
  }

  /* Container styles */
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    max-width: 576px;
   
  }

  /* Header section */
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ec755d;
   
    color: #fff;
  }

  .balance {
    margin-top: 0;
   letter-spacing: 1px;
    font-size: 16px;
  }

  .balance-amount {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
   font-weight: 600;
   letter-spacing: 1px;
  }

  /* Main body section */
  .main-body {
    padding-top: 20px;
  }
.expenses {
    font-size: 30px;
    color: #382314;
    font-weight: 600;
    letter-spacing: 1px;
}
  .body-section {
    background-color: #f5f5f5;
   
  }

  .bar-chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .bar-container {
    width: 50px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .bar-container p {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
   
  margin-bottom: 5px;
    background-color: #382314;
border-radius: 5px;
    z-index: 1;
    font-size: 16px;
    color: white;
padding: 5px;
  }

  .bar-container:hover p {
    display: block;
  }

  .bar {

    background-color: #ec755d;
  }
  .bar:hover{
    background-color: #ec855d;
  }



  .bar-label {
color: #92857a;
    text-align: center;
    font-size: 14px;
  }

  hr {
   
    color: #92857a;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .total {
  font-size: 16px;
  color: #92857a;
  }

  .total-amount {
   font-size: 40px;
   font-weight: 600;
  }

  .percent {
   font-size: 16px;
   font-weight: 600;
  }

  .last-month {
    font-size: 16px;
    color: #92857a;
  }

  /* Responsive styles */
  /* @media only screen and (max-width: 576px) {
   

    .container{
        padding: 5px;
        margin: none;
    }
    .bar {
        

        background-color: #ec755d;
      }
  
  } */